@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* impact font starts here */
@font-face {
  font-family: 'impactregular';
  src: url('/src/app/assets/font/impact-webfont.woff2') format('woff2'),
       url('/src/app/assets/font/impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'impactregular-unicode';
  src: url('/src/app/assets/font/unicode.impact-webfont.woff2') format('woff2'),
       url('/src/app/assets/font/unicode.impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* impact font ends here */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

.gradient-blue {
  background: -webkit-linear-gradient(90deg, #61D5D8 0%, #4E8DF4 100%);
  background: linear-gradient(90deg, #61D5D8 0%, #4E8DF4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dot {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  background: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border-top-color: #7A7A7A;
}
/* typography */

h1 {
  font-family: 'Impact';
  letter-spacing: 3px;
}

h2 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Impact';
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
  line-height: 1;
}

h4 {
  font-family: 'Impact';
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

/* animation handling */

.animate-spin {
  animation: spin 12s linear infinite;
}

/* main banner */
.main-banner .dot-pattern-bg{
  background: url("../app/assets/images/dot-pattern-full.svg");
}
/* showcase section styling starts here */

.showcase-section  h1{
  text-align: center;
}

/* case studies section */

.case-studies h5 {
  font-weight: 700;
}

.case-studies .container {
  overflow: hidden;
}

.case__studies--heading {
  font-family: 'Impact';
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  animation: scroll 10s linear infinite;
}

.case__studies--heading img {
  margin-left: 2rem;
  margin-right: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* case studies */
.odd-grid {
  background-color: #0B0B0B;
}

.even-grid .image-section {
  order: 2;
}

.even-grid .image-section img {
  margin-left: auto;
}

.image-section {
  overflow: hidden;
}

/* acdemics section */

.academics-wrapper {
  position: relative;
  margin-bottom: 50px;
  padding-left: 24px;
  align-items: center;
}

.academics-wrapper .image {
  margin-right: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  border-radius: 12px;
}

.academics-wrapper::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  display: inline-block;
  background-color: #fff;
  left: 0;
}

/* number section starts here */

.number-section {
  margin-top: -30px;
}

.number-section .number__bg{
  border-radius: 32px;
  background-color: #0B0B0B;
  padding: 50px;
  margin: 0 15px;
}

.number-section .number__bg .number-card{
  background-color: #151515;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 108px;
}

.numberCard__image {
  margin-right: 1rem;
}

.number-section .number__bg .card-name {
  text-align: center;
}

/* other interest section */

.other-interest-section h3 {
  margin-bottom: 4.5rem;
}

.other-interest-section .image-border{
  border: 10px solid #151515;
}

/* education section */
.education .container {
  position: relative;
}

.education .container::after {
  content: "";
  background-color: #151515;
  width: 237px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.education .right-side {
  z-index: 2;
}

/* case study */

/*  loanify case study */

.casestudy-bg {
  background: url("./assets/images/case-study/laonify/background.png");
}

.problem-statement {
  background: #fff;
}

.scope-word {
  background: #ffffff;
}

.user-research {
  background: #fff6de;
}

.shadow {
  box-shadow: -10px 10px 8px 0px #00000012;
}

video{
  object-fit: initial;
  width: 100%;
  height: 375px;
}

.circle-disc li{
  position: relative;
}

.circle-disc li::before{
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  position: absolute;
  left: -17px;
  top: 9px;
  border-radius: 50%;
}

.circle-disc li.yellow-bullet::before {
  background-color: #F4BE37;
}

.circle-disc li.green-bullet::before {
  background-color: #295854;
}

.circle-disc li.blue-bullet::before {
  background-color: #1A63C3;
}


/* table css */

.table,td,th {
  border: 1px solid #BDBDBD;
}

th {
  padding: 13px 9px;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 13px 9px;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 400;
}

th:first-child {
  background-color: #F7F7FA;
}

td:first-child {
  background-color: #F7F7FA;
}

/* user persona */
.user-persona .right-side li {
  position: relative;
  padding-left: 25px;
}

.user-persona .right-side li::before {
  content: "—";
  font-weight: bold;
  position: absolute;
  left: 0;
}

/* user flow */

.colortypography .left-side-color .yellow{
  background-color: #FFD15C;
  box-shadow: 0px 4px 12px 0px #F2994A33;
  border-radius: 4px;
  width: 160px;
  height: 160px;
}

.colortypography .right-side-color .blue {
  background-color: #18395E;
  box-shadow: 0px 4px 12px 0px #F2994A33;
  border-radius: 4px;
  width: 160px;
  height: 160px;
}

.red-bg {
  background-color: #EB5757;
  height: 108px;
}

.green-bg {
  background-color: #27AE60;
  height: 108px;
}

.round-white {
  width: 50px;
  height: 50px;
  background: conic-gradient(from 180deg at 50% 50%, #D9D9D9 0deg, #FFFFFF 360deg);
  border-radius: 50%;
}

.round-white.top {
  transform: rotate(180deg);
}

.round-white.left {
  transform: rotate(90deg);
}

.round-white.right {
  transform: rotate(270deg);
}

/* survey section loanify */
.survey .list-disc {
  padding-left: 18px;
}

/* visual design section loanify */

.visual-design{
  background: url("./assets/images/case-study/laonify/circle-grey-bg.png");
  background-repeat: no-repeat;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  background-position: center;
}


/* marquee */

.rfm-marquee-container {
  overflow-y: hidden;
}
